*
{
    margin:0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin-top: 80px;
}

/*----tekst layout----*/
h1{
    font-family: freight-neo-pro, sans-serif;  
    font-size: 27px;
    color: #707070;
    margin-bottom: 23px;
}

h2{
  font-family: freight-neo-pro, sans-serif;  
    font-size: 20px;
    color: #707070;
    font-weight: 500;  
}

p{
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 2;
    color: #707070;
}

/* Emma og Jonathan underside */
.toBoks{
  display: flex;
  width: 100%;
  flex-direction: row;

}

#tilbagePil 
{
  width: 10%;
  padding-bottom: 4%;
}

.indledneTekst
{
    width: 50%;
    margin: 2%;
    padding: 5% 8% 5% 5%;
}

#imgStort 
{
    width: 50%;
}

#imgStort img{
  width: 100%;
  height: auto;
}

/* Pil der fører tilbage til toppen */
.tilTop{
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
}

.tilTop a img{
  width: 40px;
  height: auto;
}

/* Ipad og mobil */
@media screen and (max-width: 900px) {
  .toBoks{
    flex-wrap: wrap;
    width: 100%;
  }
  .toBoks div{
    width: 100%;
  }

  #imgStort{
    width: 100%;
    padding: 4%;
  }
}

.gallery 
{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

  .gallery div img
{
    width: 100%;
    height: auto;
    cursor: pointer;

}

/*------------------------FULDSKÆRM af et billede-------------------*/
#fuldsskaerm 
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    justify-content: center;
    align-items: center;
  }

#fuldsskaerm img 
  {
    max-width: 90%;
    max-height: 90%;
  }

.pil 
  {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #707070;
    border-radius: 50px;
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-bottom: 2px;
  }

.exit 
{
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
  font-size: 30px;
}

.pil:hover
{
  filter:brightness(50%);
}

.pil.venstre
{
  left: 10px;
  padding-right: 2px;
}

.pil.hojre
{
  right: 10px;
  padding-left: 2px;

}

/*----laver-3-lige-store-kolonner-som-sidder-ved-siden-af-hinanden----*/
.column {

  flex: 30%;
  max-width: 30%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  padding: 20px;
}


/*---Responsive layout til telefon - så alle billederne kommmer på en række ned----*/
@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

