* {box-sizing: border-box;}


body{
    margin-top: 80px;
}

h1{
    font-family: freight-neo-pro, sans-serif;  
    text-transform: uppercase;
    font-size: 27px;
    color: #707070;
    margin-bottom: 23px;
}

p{
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 2;
    color: #707070;
}

#kontaktContainer 
{
    justify-content: center;
}

.erhvervBoks{
    width: 100%;
    display: flex;
}

.erhvervTekst{
    width: 60%;
    padding: 5%;
}

/*----------------------------------- LODRET SLIDESHOW ---------------------------------------*/

.karuselContainer {
    position: relative;
    overflow: hidden;
    width: 50%;
}
  
  .karuselBilleder {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    display: flex; 
    flex-direction: column; 
  }
  
  .ErhvervBillede {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ErhvervBillede img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    padding-bottom: 10px;
  }
  
  #verticalSlideshow
  {
    width: 50%;
    display: flex;
    justify-content: end;
  }
  
  #knapper
  {
    padding-right: 20px;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap:10px;
  }


  #knapper button
  {
    font-size: 40px;
    color: #bbb;
    cursor: pointer;
    border:none;
    background-color: white;

}


/*----------------------------------- SAMARBEJDE ---------------------------------------*/
.samarbejde{
    justify-content: center;
    text-align: center;
    background-color: #EEE8E1;
    padding: 4%;
}

.logoer{
    display: flex;
    justify-content: center;
    text-align: center;
}

.logoer div{
    height: 70px;
    width: auto;
    flex-direction: row;
    padding-left: 30px;
    margin-right: 80px;
    
}

.logoer div img{
    height: 100%;
}


#madeToFit{
   width: auto;
   height: 85%;
}

/*----------------------------------- IKON SERIE ---------------------------------------*/
.tilfredshedSec{
    padding: 4%;
    display: flex;
    width: 100%;
}

.tilfredshedSec h2
{
    color: black;
    text-transform: uppercase;
    font-family: freight-neo-pro, sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: bold;
}

.tilfredshedSec p
{
    color: #707070;
    font-family: Georgia, serif;
    font-size: 16px;
    font-style: normal;
    line-height: 2;
    padding-top: 2vh;
}

.tilfredshedSec div{
    flex-direction: row;
    width: 25%;
    padding: 2%;
    text-align: center;
}

.tilfredshedSec div img{
    width: 25%;
    height: auto;
    padding-bottom: 3%;
}


/*---RESPONSIVE LAYOUT TIL COMPUTER-------*/
@media screen and (min-width: 830px) {
.slideshow-container{
    display: none;
}
}

/*---RESPONSIVE LAYOUT TIL TELEFON-------*/
@media screen and (max-width: 830px) {
#verticalSlideshow{
    display: none;
}

.erhvervTekst{
    margin: auto;
    width: 80%;
}

 /* Slideshow container */
 .slideshow-container {
    max-width: 1000px;
    position: relative;
  }

  /*---billedernes placering---*/
  .slideshow-container img{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 75%;
    padding-bottom: 100px;
  }
  
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
  }

  /*----placeringen af dots----*/
  .dotPlace{
    margin-top: -80px;
    margin-bottom: 50px;
  }
  
  /*---prikkerne viser hvilken side du er indenpå----*/
  .active, .dot:hover {
    background-color: #717171;
  }
  
 /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
/*----logoerne skal sidde under hinanden på telefon------*/
  .logoer{
    flex-wrap: wrap;
  }

  .logoer div{
    margin-bottom: 20px;
  }

  #festival{
    width: 130%;
    height: 130%;
  }

  .samarbejde{
    padding: 40px;
  }


  .mySlides{
    padding: 4%;
    display: flex;
    width: 100%;
  }

  .mySlides h2
  {
      color: black;
      text-transform: uppercase;
      font-family: freight-neo-pro, sans-serif;
      letter-spacing: 1px;
      font-size: 18px;
      font-weight: bold;
  }

  .mySlides p
  {
      color: #707070;
      font-family: Georgia, serif;
      font-size: 16px;
      font-style: normal;
      line-height: 2;
      padding-top: 2vh;
  }

  .mySlides div{
      flex-direction: column;
      width: 100%;
      padding: 2%;
      text-align: center;
  }

  .mySlides div img{
      width: 50%;
      height: auto;
      padding-bottom: 3%;
  }


  .tilfredshedSec{
    display: flex;
    flex-wrap: wrap;
  }
 
  .tilfredshedSec div{
    width: 100%;
    padding-bottom: 60px;
  }

  }


/*IPAD RESPONSIVE*/
@media only screen and (min-width: 651px) and (max-width: 1023px ) 
{
  .tilfredshedSec{
    display: flex;
    flex-wrap: wrap;
  }

  .tilfredshedSec div{
    width: 50%;
  }
}