*
{
    margin:0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body
{
  margin-top:80px;
}

/*--------------GALLERI--------------*/

/*--------------main--------------*/

/*----undermenuen-på-siden----*/

/*----whitespace----*/
.menu{
    padding: 5%;
}

/*----flexboxen-af-undermenuen----*/
.menu div{
    display: flex;
    justify-content: center;
}


/*----layout-af-undermenuens-ord----*/
.menu div a{
    margin: auto;
    padding: 0 3vw 0 3vw;
    font-family: freight-neo-pro, sans-serif;  
    text-transform: uppercase;
    font-size: 15px;
    color: #707070;
    letter-spacing: 1px;
    font-weight: 400;
    
}

/*----layout-af-stregerne-mellem-undermenupunkterne----*/
.vertical2{
    border-left: 1px solid #707070;
    height: 38px;
}



/*Billedgalleriet*/

/*----layout-og-placering-af-galleriet----*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

/*----whitespace-mellem-billederne-i-galleriet----*/


/*----containeren-skal-forholde-sig-til-andre-elementer----*/
  .galleryContainer{
    position: relative;
  }
  
/*----hoverefftekt-på-billederne-i-galleriet----*/
  #galleryLink:hover img {
    filter: brightness(50%);
  }

  /*----layout-på-teksten-når-du-kører-musen-over-billederne----*/
  #galleryTekst{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    font-family: freight-neo-pro, sans-serif;  
    font-size: 16pt;
    text-align: center;
    display:none;

  }

  #galleryLink:hover #galleryTekst 
  {
    display: block;
  }
  
/*----laver-3-lige-store-kolonner-som-sidder-ved-siden-af-hinanden----*/
.column {

  flex: 30%;
  max-width: 30%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  padding: 20px;
}

/*------------RESPONSIVE-------------*/

/*---mobiltekst skal fjernes på computer-----*/
@media screen and (min-width: 1023px) {
#mobilTekst{
  display: none;
}
}


/*---RESPONSIVE LAYOUT TIL TELEFON-------*/
@media screen and (max-width: 830px) {

  /*----billederne skal komme under hinanden, i stedet for ved siden af hinanden---*/
  .column {
    flex: 100%;
    max-width: 100%;
  }

  /*---undermenuen skal komme ned på to linjer, når man ser det på telefonen---*/
  .menu div{
    flex-wrap: wrap;
    margin: 2px;
    
  }

/*-----linjen mellem undermenupunkterne skal være kortere på telefonen------*/
  .vertical2{
    height: 30px;
  }

  /*---teksten ovenpå billeder skal være væk på mobilen---*/
  #galleryTekst{
    color: transparent;
    
  }

  /*----hovereffekten skal fjernes på telefon----*/
  #galleryLink:hover img {
    filter: brightness(100%);
  }

  /*---whitespace og billederne skal sidde i midten----*/
  #galleryLink img{
    
    padding-left: 50px;
    padding-right: 50px;
   
    justify-content: center;
    align-items: center;

  }

/*---tekstens layout på telefon og teksten skal sidde under billederne*/
#mobilTekst{
  justify-content: center;
  color: #707070;
  text-transform: uppercase;
  font-family: freight-neo-pro, sans-serif;  
  font-size: 16pt;
  text-align: center;
  padding-bottom: 15px;

}

}

/*---stregen mellem begivenheder og natur/kultur skal væk, når undermenuen er på to linjer på telefonen----*/
@media screen and (max-width: 548px) {
#mobilVæk{
    display: none;
  }
}

/*IPAD RESPONSIVE*/
@media only screen and (min-width: 651px) and (max-width: 1023px ) 
{

  /*----teksten ovenpå billederne skal væk på telefonen---*/
#galleryTekst{
  color: transparent;
  
}

/*---hovereffekten på billederne skal væk på telefon----*/
#galleryLink:hover img {
  filter: brightness(100%);
}

/*---tekstens layout og placering----*/
#mobilTekst{
justify-content: center;
  color: #707070;
  text-transform: uppercase;
  font-family: freight-neo-pro, sans-serif;  
  font-size: 16pt;
  text-align: center;
  padding-bottom: 20px;
}

}
