*
{
    margin:0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body
{
    padding-top:80px;
}

/*--------------GALLERI--------------*/

/*--------------main--------------*/

/*----undermenuen-på-siden----*/

/*----whitespace----*/
.menu{
    margin: 4%;
}

/*----flexboxen-af-undermenuen----*/
.menu div{
    display: flex;
    flex-direction: row;
}

/*----layout-af-undermenuens-ord----*/
.menu div a{
    margin: auto;
    font-family: freight-neo-pro, sans-serif;  
    text-transform: uppercase;
    font-size: 15px;
    color: #707070;
    letter-spacing: 1px;
    font-weight: 400;
    flex-direction: row;
}

/*----layout-af-stregerne-mellem-undermenupunkterne----*/
.vertical2{
    border-left: 1px solid #707070;
    height: 38px;
    margin-left: -25%;
    margin-right: -25%;
}



/*Billedgalleriet*/

/*----layout-og-placering-af-galleriet----*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

/*----whitespace-mellem-billederne-i-galleriet----*/


/*----containeren-skal-forholde-sig-til-andre-elementer----*/
  .galleryContainer{
    position: relative;
  }
  
/*----hoverefftekt-på-billederne-i-galleriet----*/
  #galleryLink:hover img {
    filter: brightness(50%);
  }

  /*----layout-på-teksten-når-du-kører-musen-over-billederne----*/
  #galleryTekst{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    font-family: freight-neo-pro, sans-serif;  
    font-size: 16pt;
    text-align: center;
    display:none;

  }

  #galleryLink:hover #galleryTekst 
  {
    display: block;
  }
  
/*----laver-3-lige-store-kolonner-som-sidder-ved-siden-af-hinanden----*/
.column {

  flex: 30%;
  max-width: 30%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  padding: 20px;
}


/*---Responsive layout til telefon - så alle billederne kommmer på en række ned----*/
@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  
  #mobilVæk{
    display: none;
  }

 .menu div{
  min-width: 60%;
 }
  
}

