*
{
    margin:0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body
{
    padding-top:80px;
}
/*--------------MAIN--------------*/


.menu div{

    display: flex;
}

.menu div a{
  margin: auto;
    font-family: freight-neo-pro, sans-serif;  
    text-transform: uppercase;
    font-size: 15px;
    color: #707070;
    letter-spacing: 1px;
}

.vertical2
{
    border-left: 1px solid #707070;
    height: 38px;
    margin-left: -25%;
    margin-right: -25%;
}

.billedkasser{
    display: flex;
    justify-content: center;
    gap: 50px;
    
}

.billedkasser div{
    width: 380px;
    
}

.billedkasser #row11{
    height: 450px;
    background-color: pink;
}

.billedkasser #row12{
    height: 400px;
    background-color: pink;
}

.billedkasser #row13{
    height: 480px;
    background-color: pink;
}

/*------------------------------*/
.gallerimenu
{
    display: flex;
}

streg
{
    border-left: 1px solid #707070;
    height: 40px;
}

