*
{
    margin:0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/*-------------- HEADER --------------*/

header
{
    background-color: white;
    border-bottom: 1px solid #707070;
    display: flex;
    height: 80px;
    position: fixed;
    width: 100%;
    align-items: center;
    top: 0;
    z-index: 1;
}

#logo
{
    width: 50%;
    display: flex;
}

#logo a img
{  
    width: 70px;
    padding-left: 13px;
    justify-content: center;
}

.links
{  
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0px;
}

.links a
{
    font-family: freight-neo-pro, sans-serif;  
    text-transform: uppercase;
    font-size: 15px;
    color: #707070;
    letter-spacing: 2px;
    font-weight: 500;
    font-style: normal;
}

.links a:hover
{
    color: black;
}

.fa-facebook
{
    font-size: 30px;
}

.fa-instagram
{
    margin-left: -15px;
    font-size: 30px;
}

.vertical
{
    border-left: 1px solid #707070;
    height: 40px;
}

.mobilheader{
    display: none;
}

/*--- Den side du er inde på bliver markeret som menupunkt ---*/
#nu{
    color: black;
    font-weight: bold;
}


/* header til mobil */
@media only screen and (max-width: 1023px){
.mobilheader{
    display: flex;   
}

#logo{
    width: 91%;
}

.overlay {
    height: 0px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-family: freight-neo-pro, sans-serif;  
    text-transform: uppercase;
    font-size: 20px;
    color: #707070;
    letter-spacing: 2px;
    font-weight: 500;
    font-style: normal;
    display: block;
    transition: 0.3s;
  }
  
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
}  



/*-------------- FOOTER --------------*/

/*---- Footerens-layout-og-størrelse ----*/
footer{
    background-color: #142D52;
    display: flex;
    height: 360px;
    margin: auto;
    padding: 80px 0px 80px 80px;
    align-items: center;
  }

  /*---- Diverne-skal-fylde-20%-hver ----*/
  footer div{
    width: 20%;
    height: 100%;
    flex-direction: row;
  }

/*---- Layout-på-rubrik ----*/
  footer h2{
    margin: auto;
    font-family: freight-neo-pro, sans-serif;  
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
    
  }

  /*---- Layout-på-brødteksten ----*/
  footer div a{
    margin: auto;
      font-family: freight-neo-pro, sans-serif;  
      text-transform: uppercase;
      font-size: 15px;
      color: white;
      letter-spacing: 1px;
      line-height: 2;
      font-weight: 200;
  }

/*----layout-på-stregen----*/
  .vertical3{
    border-right: 1px solid white;
    height: 90px;
    display: flex;
    
}

/*----størrelse-og-placering-af-sociale-medier-ikoner----*/
footer .fa-facebook
{
    margin-right: -60px;
    font-size: 50px;
}

footer .fa-instagram
{
    margin-left: -60px;
    font-size: 50px;
}

/*----4.-og-5.-div-skal-sidde-i-midten----*/
footer div:nth-child(4), footer div:nth-child(5){
    justify-content: center;
    display: flex;
}

@media only screen and (min-width: 651px) and (max-width: 1023px){
    footer{
        flex-wrap: wrap;
        height: auto;
    }
    footer div{
        width: 100%;
        margin-bottom: 25px;
    }
    .vertical3{
        height: auto;
    }
}

@media screen and (max-width: 650px){
    footer{
        flex-direction: column;
        height: auto;
    }
    footer div{
        width: 100%;
        margin-bottom: 25px;
    }
    .vertical3{
        height: auto;
    }
}