*
{
    margin:0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/*-------------- HEADER --------------*/

header
{
    background-color: white;
    border-bottom: 1px solid #707070;
    display: flex;
    height: 80px;
    position: fixed;
    width: 100%;
    align-items: center;
    top: 0;
    z-index: 1;
}

#logo
{
    width: 50%;
    display: flex;
}

#logo a img
{  
    width: 70px;
    padding-left: 13px;
    justify-content: center;
}

.links
{  
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0px;
}

.links a
{
    font-family: freight-neo-pro, sans-serif;  
    text-transform: uppercase;
    font-size: 15px;
    color: #707070;
    letter-spacing: 2px;
    font-weight: 500;
    font-style: normal;
}

.links a:hover
{
    color: black;
}

.fa-facebook
{
    font-size: 30px;
}

.fa-instagram
{
    margin-left: -15px;
    font-size: 30px;
}

.vertical
{
    border-left: 1px solid #707070;
    height: 40px;
}

.mobilheader{
    display: none;
}

/*--- Den side du er inde på bliver markeret som menupunkt ---*/
#nu{
    color: black;
    font-weight: bold;
}

#mobilheader{
    display: none;   
}

/* header til mobil og ipad*/
@media only screen and (max-width: 1023px){
.links{
    display: none;
}

#logo{
    width: 91%;
}

#mobilHeader{
    display: flex;
}

#soMe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#soMe a{
    flex-direction: row;
    width: 15%;
    justify-content: center;
}

/* Burgermenu icon og placcering */
#burger-menu { 
  cursor: pointer;
  height: 30px;
  width: 27px;
  margin: 30px;
  overflow: visible;
  position: relative;
  z-index:2;
}

/* Burgericon */ 
#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  background:black;
  display: block;
  height: 4px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
#burger-menu span:before,
#burger-menu span:after {
  content: "";
}

/* Burgermenu */
#burger-menu span {
  right: 0px;
  top: 13px;
  width: 27px;
}
#burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 16px;
}
#burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 20px;
}

/* Kryds */
#burger-menu.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}
#burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}
#burger-menu.close span:after {
  top: 0px;
  left:0;
  transform: rotate(90deg);
  opacity:0;
  width:0;
}

#menu{ /* slideren */
  z-index:1;
  min-width:100%;
  min-height:75vh;
  position: fixed;
  top:0;
  height:0;
  visibility: hidden;
  opacity: 0;
  text-align:center;
  padding-top:20px;
  transition: all 0.3s ease-in-out;
}

#menu.overlay{
  visibility: visible;
  opacity: 1;
  padding-top:100px;
  background:white;
}

#menu li{
  list-style:none;
}
#menu a{ /* liste af menupunkterne */
  display:block;
  margin-bottom:30px;
  text-decoration:none;
  font-family: freight-neo-pro, sans-serif;  
  font-size: 20px;
  color: #707070;
  font-weight: 500;  
  text-transform: uppercase;
}

}  



/*-------------- FOOTER --------------*/

/*---- Footerens-layout-og-størrelse ----*/
footer{
    background-color: #142D52;
    display: flex;
    height: 360px;
    margin: auto;
    padding: 80px 0px 80px 80px;
    align-items: center;
  }

  /*---- Diverne-skal-fylde-20%-hver ----*/
  footer div{
    width: 20%;
    height: 100%;
    flex-direction: row;
  }

/*---- Layout-på-rubrik ----*/
  footer h2{
    margin: auto;
    font-family: freight-neo-pro, sans-serif;  
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
    
  }

  /*---- Layout-på-brødteksten ----*/
  footer div a{
    margin: auto;
      font-family: freight-neo-pro, sans-serif;  
      text-transform: uppercase;
      font-size: 15px;
      color: white;
      letter-spacing: 1px;
      line-height: 2;
      font-weight: 200;
  }

/*----layout-på-stregen----*/
  .vertical3{
    border-right: 1px solid white;
    height: 90px;
    display: flex;
    
}

/*----størrelse-og-placering-af-sociale-medier-ikoner----*/
footer .fa-facebook
{
    margin-right: -60px;
    font-size: 50px;
}

footer .fa-instagram
{
    font-size: 50px;
}

/*----4.-og-5.-div-skal-sidde-i-midten----*/
footer div:nth-child(4), footer div:nth-child(5){
    justify-content: center;
    display: flex;
}

/*--------footer på ipad og mobil--------*/

@media only screen and (min-width: 651px) and (max-width: 1023px){
    footer{
        flex-wrap: wrap;
        height: auto;
    }
    footer div{
        width: 100%;
        margin-bottom: 25px;
    }
    .vertical3{
        height: auto;
    }
}

@media screen and (max-width: 650px){
    footer{
        flex-direction: column;
        height: auto;
    }
    footer div{
        width: 100%;
        margin-bottom: 25px;
    }
    .vertical3{
        height: auto;
    }
}