*
{
    margin:0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/*-----------------------------------YDELSER---------------------------------------*/

.introVideo video
{
    width: 100%;
    height: 85vh;
    object-fit: cover;
    display: block;
}

.ydelser
{
    text-align: center;
    top:0;
    background-color: #eee8e1;
}

.ydelser h1
{
    padding: 5vh 0 1vh 0;
    font-family: freight-neo-pro, sans-serif;  
    text-transform: uppercase;
    font-size: 27px;
    color: #707070;
}

.ydelser h2
{
    font-family: freight-neo-pro, sans-serif;  
    font-size: 20px;
    color: #707070;
    font-weight: 500;  
    padding-bottom: 8px;
}

.kategori
{
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    margin-left: 2vh;
    margin-right: 2vh;
    padding-bottom: 7vh;
}
  
  #billedeLink
  {
    position: relative;
    gap:12px;


 }
  
  #billedeLink img 
  {
    object-fit: cover;
    transition: filter 0.3s;
    position: relative;
    width: 95%;
  }
  
  #billedeLink:hover img 
  {
    filter: brightness(50%);
  }

  #billedeTekst
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: white;
    text-transform: uppercase;
    font-family: freight-neo-pro, sans-serif;  
    font-size: 27px;
    font-style: normal;
  }
  
  #billedeLink:hover #billedeTekst 
  {
    display: block;
  }
  
/*-----------------------------------ANMEDELSER---------------------------------------*/

.anmeldelser
{
    background-color: white;
    text-align: center;
    color: #707070;
    padding-top: 20px;
    padding-bottom: 3h;
}


.anmeldelser h3
{
    padding-bottom: 6vh;
    font-family: freight-neo-pro, sans-serif;  
    text-transform: uppercase;
    font-size: 27px;
    padding-top: 4vh;

}

.anmeldelser p
{
    font-family: "georgiapro", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    font-style: italic;
}

#boks1
{
    display: flex;
    justify-content: center;
}
#boks1 p
{
    width: 40%;
}

#boks2
{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10%;
    padding-bottom: 8vh;
}

#boks2 p
{  
    width: 30%;
}

/*-----------------------------------STORT BILLEDE---------------------------------------*/

.stortBillede
{
    text-align: center;
    position: relative;
}

.stortBillede img
{    
    filter:brightness(70%);
    width: 100%;
}

.stortBillede p
{
    position: absolute;
    color: white;
    font-family: freight-neo-pro, sans-serif;
    line-height: 1.5;
    font-style: italic;  
}

.citater
{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    width: 70%;
}

.citatNavne
{
    top: 65%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 25px;
}

/*-----------------------------------OM FLPHOTO---------------------------------------*/


.omflphoto
{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    padding-top: 8vh;
    padding-bottom: 8vh;
}

.omflphoto div
{
    width: 50%;

}

.omflphoto #foto{
    display: flex;
    justify-content: center;
}

.omflphoto div img
{
    display: block;
    margin: auto;
    width: 70%;
}


#omfilip
{
    text-align: center;
    color: #707070;
}

#omfilip h1
{
    font-family: freight-neo-pro, sans-serif;
    text-transform: uppercase;
    font-size: 27px;
    text-align: center;
}

#omfilip p
{
    padding-left: 17%;
    padding-right: 17%;
    line-height: 2;
    font-family: Georgia, serif;  
    font-size: 16px;
    padding-top: 2vh;
    padding-bottom: 8vh;
    font-style: normal;
    text-align: center;

}

#omfilip a
{
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: #C2D2DF;
    font-size: 20px;
    padding: 13px 18px;
    font-family: freight-neo-pro, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

/*-----------------------------------INFOGRAPHIC---------------------------------------*/


.infographic
{
    background-color:#EEE8E1 ;
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    text-align: center;
 
    padding-left: 8%;
    padding-right: 8%;
}

.infographic div
{

    justify-content: space-evenly;
    padding-left: 2%;
    padding-right: 2%;
    color:#707070;

}

.infographic div h1
{
    top:0%;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding-bottom: 3vh;
    font-family: freight-neo-pro, sans-serif;
    letter-spacing: 1px;
}

.infographic div p
{
    padding-top: 3vh;
    line-height: 1.7;
    color: #707070;
    font-family: "georgiapro", serif;
    font-size: 15px;
    font-style: normal;
}

/*-----------------------------------KONTAKTFORMULAR---------------------------------------*/

#kontaktFormular
{
    color: #707070;
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
}


#kontaktContainer
{
    justify-content: center;
    width: 40%;

}

#kontaktFormular h1
{
    text-transform: uppercase;
    font-family: freight-neo-pro, sans-serif;
    letter-spacing: 1px;
    font-size: 27px;
    text-align: center;
}

#kontaktFormular h2
{
    padding-top: 2vh;
    font-family: "georgiapro", serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: lighter;
    text-align: center;
}

#udfyldBoks label
{
    line-height: 2;
    padding-left: 3px;
    text-transform: uppercase;
    font-family: freight-neo-pro, sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
}

#udfyldBoks, #sendKnap
{ 
    padding-top:3vh;
}

#skrivBoks
{
    padding-top: 20px;
    border-radius: 50px;
    background-color: #C2D2DF;
    padding: 10px ;
    border: none;
    width: 100%;
    font-size: 14px;
    font-family: "georgiapro", serif;
}

#selectKategori
{
    border-radius: 50px;
    background-color: white;
    padding: 10px ;
    border:solid #C2D2DF 1px;
    width: 100%;
    font-family: "georgiapro", serif;
    font-size: 14px;


}

#beskedIndhold
{
    border-radius: 20px;
    background-color: #C2D2DF;
    height: 20vh;
    padding: 10px;
    border:none;
    width: 100%;
    resize: none;
    font-family: "georgiapro", serif;
    font-size: 14px;

}

#sendKnap
{
    text-align: center;

}

#kontaktFormular button
{
    text-transform: uppercase;
    font-family: freight-neo-pro, sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    background-color: #142d52;
    color: white;
    border-radius: 20px;
    border:none;
    cursor: pointer;
    padding: 12px 25px;
    font-weight: bold;
}


.tilfredshedsec{
    padding: 4%;
    display: flex;
    width: 100%;
}

.tilfredshedsec h2
{
    color: black;
    text-transform: uppercase;
    font-family: freight-neo-pro, sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: bold;
}

.tilfredshedsec p
{
    color: #707070;
    font-family: "georgiapro", serif;
    font-size: 15px;
    font-style: normal;
    line-height: 1.7;

}

.tilfredshedsec div{
    flex-direction: row;
    width: 25%;
    padding: 3%;
    text-align: center;
}

.tilfredshedsec div img{
    width: 25%;
    height: auto;
    padding-bottom: 3%;
}