*
{
    margin:0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body
{
    margin-top: 80px;
    
}

/*--------------FEJL-SIDEN--------------*/

/*----layout-på-overskriften----*/
.fejlsideTekst h1{
    font-family: freight-neo-pro, sans-serif;  
    text-transform: uppercase;
    font-size: 110px;
    color: #707070;
    text-align: center;
    margin-top: 5px;
    font-weight: 600;
}

/*----layout-på-brødteksten----*/
.fejlsideTekst p{
    font-family: freight-neo-pro, sans-serif;  
    font-size: 22px;
    color: #707070;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}

/*----underline-af-lniket-"her"----*/
.fejlsideTekst a{
    text-decoration: underline;
}

/*----billedets-placering----*/
.fejlsideBillede{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

/*--------------TAK-SIDEN--------------*/

/*----layout-på-overskriften----*/
.taksideTekst h1{
    font-family: freight-neo-pro, sans-serif;  
    text-transform: uppercase;
    font-size: 38px;
    color: #707070;
    text-align: center;
    margin-top: 40px;
    font-weight: 600;

}

/*----layout-på-brødteksten----*/
.taksideTekst p{
    font-family: freight-neo-pro, sans-serif;  
    font-size: 20px;
    color: #707070;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}

/*----underline-af-lniket-"her"----*/
.taksideTekst a{
    text-decoration: underline;
}

/*----billedets-placering----*/
.taksideBillede{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

/*--------------PRISER-SIDEN--------------*/

/*----undermenuen paa siden----*/

/*----whitespace----*/
.prisMenu{
    padding-top: 4%;
}

/*----flexbox-af-undermenuen----*/
.prisMenu div{
    display: flex;
}

/*----layout-af-undermenuen----*/
.prisMenu div a{
    margin: auto;
    font-family: freight-neo-pro, sans-serif;  
    text-transform: uppercase;
    font-size: 15px;
    color: #707070;
    letter-spacing: 1px;
    font-weight: 400;
}

/*----stregerne-mellem-menupunkterne----*/
.vertical4
{
    border-left: 1px solid #707070;
    height: 38px;
    margin-left: -35%;
    margin-right: -35%;
}

/*----layout-på-brødteksten----*/
.prisTekst p
{
    font-family: Georgia, serif;  
    font-size: 18px;
    color: #707070;
    text-align: center;
    margin: 40px 50px 80px 40px;
    line-height: 1.8;
}


/*----Pakkerne paa siden----*/

/*----flexboxen-af-pakkerne----*/
.prisPakker{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
    margin: 50px;
    flex-direction: row;
}

/*----placeringen-af-pakkerne----*/
.prisContainer a {
    display: flex;
    justify-content: center;
    margin: -55px;
    margin-bottom: 50px;
    
    
}

/*----pakkerne-størrelse----*/
.prisPakker img {
    width: 72%;
  }

/*----hovereffekt-på-pakkerne----*/
  #prisLink img:hover {
    transform: scale(1.03);
    filter: brightness(95%);
  }

/*---RESPONSIVE AF PRIS-SIDEN layout til telefon----*/
@media screen and (min-width: 800px) {
    .slideshow-container{
        display: none;
    }
}



/*---RESPONSIVE AF PRIS-SIDEN layout til telefon----*/
@media screen and (max-width: 800px) {
   
    .mySlides {display: none}
    img {vertical-align: middle;}
    
    .prisMenu div{
      flex-wrap: wrap;
      margin: 2px;
      
    }

    .vertical2{
      height: 30px;
    }

    .prisPakker{
        display: none;
    }

    #prisLink img:hover {
       
        transform: none;
        filter: brightness(100%);
      }

    /* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
  }

  .slideshow-container img{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 75%;
    padding-bottom: 100px;
  }
  
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
 
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
 /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
 
  }
  

  /*--------------OMFLPHOTO-SIDEN--------------*/

/*----fleboxen-øverst-på-siden----*/
.flphotoSiden{
    display: flex;
}

/*----de-to-sektioner-i-flexboxen-skal-fylde-50%-hver----*/
.flphotoSiden div{
    width: 50%;
}

/*----billedets-placering----*/
.flphotoSiden div img{
    display: flex;
    width: 72%;
    margin: auto;
    margin-top: 30px;
}

/*----layout-på-overskriften----*/
.flphotoSiden h1{
    font-family: freight-neo-pro, sans-serif;  
    text-transform: uppercase;
    font-size: 26px;
    color: #707070;
    padding-left: 150px;
    margin-top: 40px;
    font-weight: 600;
    line-height: 1.8;

}

/*----layout-på-rubrik----*/
.flphotoSiden h2{
    font-family: freight-neo-pro, sans-serif;  
    text-transform: uppercase;
    font-size: 20px;
    color: #707070;
    padding-left: 150px;
    padding-top: 0px;
    margin-top: 40px;
    font-weight: 500;
    line-height: 1.8;
    
    

}

/*----layout-på-brødteksten----*/
.flphotoSiden p{
    font-family: Georgia, serif;  
    font-size: 18px;
    color: #707070;
    margin-top: 20px;
    font-weight: 500;
    padding-left: 150px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 1.8;
    
}

/*----some-ikonernes-placering----*/
.flphotoSiden #soMe{
    margin-top: 30px;
    padding-left: 150px;
}

.flphotoSiden #soMe a{
    padding-right: 20px;
    
}

/*----flexboxen-ved-videoen----*/
.lærFilip{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.lærFilip div{
    margin: auto;
}

/*----layout-på-rubrik----*/
.lærFilip h2{
    font-family: freight-neo-pro, sans-serif;  
    text-transform: uppercase;
    font-size: 25px;
    color: #707070;
    padding-top: 0px;
    margin-top: 40px;
    font-weight: 600;
    line-height: 1.8;
}

#lærVideo{
    width: 500px;
    height: 500px;
    background-color: pink;
}

/*----layout-på-sektionen-med-udstyr----*/
.udstyrSektion{
    background-color: #EEE8E1;
    padding-bottom: 50px;
}

/*----billederne-skal-være-i-en-flexbox----*/
.udstyr{
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 30px;
    
}

 .udstyr div{
    width: 300px;
    height: 250px;
    background-color: pink;
 }

 /*----layout-på-rubrik----*/
 .udstyrSektion h2{
    font-family: freight-neo-pro, sans-serif;  
    text-transform: uppercase;
    font-size: 25px;
    color: #707070;
    font-weight: 600;
    line-height: 1.8;
    text-align: center;
    padding-top: 50px;
}

/*----kontakt-formularens-placering----*/
.fl #kontaktformular{
    margin-bottom: 40px;
    margin-top: 40px;
}

